.header_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: $color-4;
  opacity: 0;
  transform: translateY(40px);
  animation: headerAnim 1.5s forwards;
  @keyframes headerAnim {
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  h1 {
    font-size: 1.8rem;
    margin-bottom: 40px;
  }
  h2,
  h3 {
    font-size: 4rem;
    letter-spacing: 4px;
  }
  p {
    margin: 40px auto 60px;
    font-style: italic;
    width: 85%;
    font-size: 1.2rem;
  }
}
