.formContact {
  width: 86%;
  background: #03251a;
  color: $color-5;
  border-radius: 18px;
  width: 86%;
  margin: auto;
  min-height: 450px;
  display: grid;
  grid-template-columns: 60% 40%;
  margin-bottom: 30px;

  @media screen and (max-width: 1010px) {
    grid-template-columns: 1fr;
  }
  @media screen and (max-width: 720px) {
    width: 100%;
  }
  @media screen and (max-width: 492px) {
    width: 100%;
    border-radius: 0px;
    margin-bottom: 0;
  }

  form {
    display: grid;
    gap: 18px;
    padding: 30px 0px;
    width: 90%;
    margin: 0 auto;
    grid-template-rows: 40px 10px 40px 10px 180px 1fr;
    @media screen and (max-width: 1010px) {
      width: 70%;
    }
    @media screen and (max-width: 748px) {
      width: 77%;
    }

    @media screen and (max-width: 596px) {
      width: 80%;
      grid-template-rows: 139px 16px 30px 15px 160px 1fr;
      padding: 15px 0px;
      gap: 18px;
      margin-bottom: 10px;
    }
    @media screen and (max-width: 492px) {
      grid-template-rows: 120px 15px 30px 15px 180px 1fr;
    }
    @media screen and (max-width: 329px) {
      grid-template-rows: 120px 10px 22px 10px 150px 1fr;
    }
    .name-container {
      display: grid;
      grid-template-columns: 0.5fr 2.5fr 0.5fr 2.5fr;
      grid-template-rows: auto;
      grid-template-areas: "name-label name-input email-label email-input";
      gap: 5px;
      align-items: center;
      @media screen and (max-width: 596px) {
        grid-template-columns: 1fr;
        grid-template-areas:
          "name-label"
          "name-input"
          "email-label"
          " email-input";
        width: 60%;
        @media screen and (max-width: 596px) {
          gap: 5px;
          height: 130px;
        }
        @media screen and (max-width: 500px) {
          width: 100%;
        }

        @media screen and (max-width: 329px) {
          gap: 0;
        }
      }

      .name-label {
        grid-area: name-label;
      }

      .name-input {
        grid-area: name-input;
        color: $color-5;
        background: #03251a;
        outline: none;
      }

      .email-label {
        grid-area: email-label;
        margin-left: 4px;
        @media screen and (max-width: 864px) {
          margin-left: 0;
        }
      }

      .email-input {
        grid-area: email-input;
        color: $color-5;
        background: #03251a;
        outline: none;
      }
    }
    label {
      font-size: 1.1rem;
      font-family: $font-2;
      letter-spacing: 1px;
      @media screen and (max-width: 492px) {
        font-size: 1rem;
      }
      @media screen and (max-width: 329px) {
        font-size: 0.98rem;
      }
    }
    input[type="text"],
    input[type="email"],
    textarea,
    .btn {
      background: none;
      border: 1px solid $color-5;
      border-radius: 50px;
      color: $color-5;
      padding: 8px;
      font-size: 1rem;
      outline: none;
      box-shadow: 0 6px 1px rgba(255, 255, 255, 0.5),
        0 14px 1px rgba(255, 255, 255, 0.05);
      @media screen and (max-width: 596px) {
        box-shadow: 0 4px 1px rgba(255, 255, 255, 0.5),
          0 10px 1px rgba(255, 255, 255, 0.05);
      }
    }
    textarea {
      border-radius: 4px;
      resize: none;
    }
    input[type="text"],
    input[type="email"] {
      height: 40px;
      @media screen and (max-width: 492px) {
        height: 33px;
      }
      @media screen and (max-width: 329px) {
        height: 30px;
      }
    }
    input[type="text"],
    input[type="email"],
    textarea {
      width: 100%;
    }
  }

  .submit-container {
    display: flex;
    align-items: flex-end;
    margin-top: 30px;
    @media screen and (max-width: 1010px) {
      margin-top: 26px;
    }
    @media screen and (max-width: 492px) {
      margin-top: 26.89px;
    }
    @media screen and (max-width: 329px) {
      margin-top: 10.89px;
    }
    .btn {
      font-size: 1.5rem;
      font-family: $font-2;
      padding: 10px 33px;
      @media screen and (max-width: 1010px) {
        font-size: 1.3rem;
      }
      @media screen and (max-width: 596px) {
        font-size: 1.1rem;
        padding: 8px 40px;
      }
      @media screen and (max-width: 329px) {
        font-size: 1rem;
        padding: 5px 23px;
      }
    }
  }
}
h2 {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 30px;
  padding-top: 31.2px;
  letter-spacing: 2px;
  font-family: $font-2;
  @media screen and (max-width: 1081px) {
    font-size: 3rem;
  }
  @media screen and (max-width: 556px) {
    font-size: 2.7rem;
    letter-spacing: 0;
  }
  @media screen and (max-width: 492px) {
    font-size: 2.1rem;
    padding-top: 10px;
    margin-bottom: 16px;
    font-weight: 600;
  }
  @media screen and (max-width: 329px) {
    font-size: 2em;
    margin-bottom: 10px;
    padding-top: 20px;
  }
}
.contact {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  border-left: 1px solid $color-5;
  width: 100%;
  @media screen and (max-width: 1010px) {
    border-top: 1px solid $color-5;
    border-left: none;
  }

  p {
    font-size: 1.2rem;

    @media screen and (max-width: 492px) {
      font-size: 1rem;
    }
    @media screen and (max-width: 329px) {
      font-size: 0.9rem;
      padding-left: 12px;
    }
  }
  div {
    border-bottom: 1px solid $color-5;
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    @media screen and (max-width: 1230px) {
      padding: 20px;
    }
    @media screen and (max-width: 492px) {
      padding: 10px;
    }
    @media screen and (max-width: 329px) {
      padding: 7.2px;
    }
    i {
      font-size: 1.1rem;
      font-family: $font-2;
      letter-spacing: 1px;
      padding-left: 10px;
      padding-right: 20px;
      text-align: left;
      @media screen and (max-width: 1136px) {
        font-size: 1rem;
        padding-right: 10px;
      }
      @media screen and (max-width: 591px) {
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        font-size: 1.62rem;
        @media screen and (max-width: 492px) {
          font-size: 1.3rem;
        }
        @media screen and (max-width: 329px) {
          font-size: 1.1rem;
        }
      }
    }

    .text {
      @media screen and (max-width: 591px) {
        display: none;
      }
    }
  }
}
