@import "../settings";
.navbar {
  position: fixed;
  top: 0;
  transition: 0.3s ease;
  z-index: 1000;
  width: 86%;
  left: 50%;
  transform: translateX(-50%);
  @media screen and (max-width: 720px) {
    width: 100%;
  }

  header {
    width: 100%;
    margin: auto;
    @include center;
    justify-content: center;

    nav {
      @include center;
      justify-content: space-between;
      height: 90px;
      background: $color-5;
      width: 100%;
      margin: auto;
      @media screen and (max-width: 515px) {
        height: 70px;
      }
      @media screen and (max-width: 459px) {
        height: 60px;
      }
      @media screen and (max-width: 329px) {
        height: 49px;
      }
    }

    img {
      width: 70px;
      height: 70px;
      padding: 3px;
      margin-left: 15px;
      border: 1.4px solid $color-5;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      @media screen and (max-width: 580px) {
        width: 55px;
        height: 55px;
      }
      @media screen and (max-width: 464px) {
        width: 50px;
        height: 50px;
      }
      @media screen and (max-width: 408px) {
        width: 40px;
        height: 40px;
      }
    }

    ul {
      @include center;
      justify-content: space-between;
      height: 100%;

      li {
        text-decoration: none;
        list-style: none;
        cursor: pointer;
        font-size: 2rem;
        font-family: $font-2;
        font-weight: 600;
        @include center;
        height: 100%;
        @media screen and (max-width: 1044px) {
          font-size: 1.7rem;
        }
        @media screen and (max-width: 951px) {
          font-size: 1.5rem;
        }
        @media screen and (max-width: 616px) {
          font-size: 1.3rem;
        }
        @media screen and (max-width: 542px) {
          font-size: 1.2rem;
        }
        @media screen and (max-width: 515px) {
          font-size: 1rem;
        }
        @media screen and (max-width: 459px) {
          font-size: 0.9rem;
        }
        @media screen and (max-width: 408px) {
          font-size: 0.78rem;
        }
        @media screen and (max-width: 365px) {
          font-size: 0.7rem;
        }
        @media screen and (max-width: 343px) {
          font-size: 0.63rem;
        }
      }
      a {
        text-decoration: none;
        color: $color-2;
        height: 100%;
        padding: 0 30px;
        @include center;
        &:hover {
          background: $color-4;
          color: $color-2;
        }
        &.nav-active {
          background: $color-2;
          color: white;
        }
        @media screen and (max-width: 951px) {
          padding: 0 13px;
        }
        @media screen and (max-width: 459px) {
          padding: 0 10px;
        }
        @media screen and (max-width: 329px) {
          padding: 0 8px;
        }
      }
    }
  }
}
.result {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 86%;
  margin: 0;
}
