.header_container {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 15px;
  align-items: center;
  margin: 200px auto;
  width: 86%;
  opacity: 0;
  transform: translateY(40px);
  animation: headerAnim 1.5s forwards;
  @keyframes headerAnim {
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @media screen and (max-width: 1080px) {
    @include center;
    flex-direction: column-reverse;
    justify-content: center;
  }
  .part_left {
    width: 100%;
    h1 {
      font-size: 3rem;
      margin-bottom: 40px;
      text-align: left;
      font-family: $font-2;
    }
    h2 {
      font-size: 4rem;
      letter-spacing: 4px;
      font-family: $font-2;
      @media screen and (max-width: 1315px) {
        font-size: 3.4rem;
      }
    }
    p {
      margin: 40px auto 60px;
      font-style: italic;
      width: 85%;
      font-size: 1.8rem;
      text-align: justify;
    }
  }
  .part_right {
    @include center;
    justify-content: center;
    img {
      width: 340px;
      height: 340px;
      transform: rotate(-30deg);
      border: 1px solid $color-5;
      @media screen and (max-width: 1288px) {
        width: 300px;
        height: 300px;
      }
      @media screen and (max-width: 1080px) {
        width: 230px;
        height: 230px;
      }
    }
  }
}
