.projectCard {
  background: $color-4;
  border-radius: 18px;
  width: 86%;
  margin: 150px auto;
  padding: 50px 0px;
  @include center;
  justify-content: center;
  flex-direction: column;

  h2 {
    font-size: 5rem;
    text-align: center;
    margin-bottom: 50px;
    letter-spacing: 2px;
    font-family: $font-2;
  }
  .containerCard {
    @include center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 77px;
    margin: 0 30px;
  }
  @media screen and (max-width: 1860px) {
    gap: 55px;
  }
}
