// @font-face {
//   font-family: "font-1";
//   src: url(../assets/font/Dongle-Regular.ttf);
// }
// @font-face {
//   font-family: "font-2";
//   src: url(../assets/font/Montserrat-Variable.ttf);
// }
// $font-1: "font-1", sans-serif;
// $font-2: "font-2", sans-serif;

@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
$font-1: "Monsterrat", sans-serif;
$font-2: "Dongle", sans-serif;

$color-1: #9bbd97;
$color-2: #445d43;
$color-3: black;
$color-4: white;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0 auto;
  font-family: $font-1;
  // background: $color-1;
  background: url(../assets/images/kabylie2.jpg) fixed center/cover;
  text-align: center;
  max-width: 1300px;
  margin: 0 auto;
  &:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: $color-3;
    animation: animBefore 1.5s ease forwards;
    animation-delay: 0.15s;
    z-index: -50;
    @keyframes animBefore {
      to {
        opacity: 0;
      }
    }
  }
}
@mixin center {
  display: flex;
  align-items: center;
}
