// @font-face {
//   font-family: "font-1";
//   src: url(../assets/font/Dongle-Regular.ttf);
// }
// @font-face {
//   font-family: "font-2";
//   src: url(../assets/font/Montserrat-Variable.ttf);
// }
// $font-1: "font-1", sans-serif;
// $font-2: "font-2", sans-serif;

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@100;200;300;400;500;600;700&family=Simonetta:ital,wght@0,400;0,900;1,400;1,900&display=swap");
$font-1: "IBM Plex Sans Thai Looped", sans-serif;
$font-2: "Simonetta", serif;

$color-1: #f4fbf6;
$color-2: #1d3b31;
$color-3: black;
$color-4: white;
$color-5: #c4e8d1;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0 auto;
  font-family: $font-1;
  background: $color-1;
  color: $color-2;
  margin: 0 auto;
  &:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: $color-3;
    animation: animBefore 1.5s ease forwards;
    animation-delay: 0.15s;
    z-index: -50;
    @keyframes animBefore {
      to {
        opacity: 0;
      }
    }
  }
}
@mixin center {
  display: flex;
  align-items: center;
}
